
.mainContainer {
    margin-top: 30px;
    display: flex;
}

.formForm {
    width: 33%;
}

.infoForm {
    width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.infoUser {
    width: 34%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.inputContainer {
    height: 50px;
    border-radius: 10px;
    background: bisque;
}

.addInput {
    width: 100px;
    border-radius: 10px;
    background: #57e757;
}
.deleteItem{
    background: #ea4646;
}
.detailsItem{
    background: silver;
}
